force-app/main/default/flows/Project_Status_Update_and_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Goal_Achieved_Email</name>
        <label>Send Goal Achieved Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Project__c.Send_Email_When_Goal_is_Achieved</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Project__c.Send_Email_When_Goal_is_Achieved</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Goal_Achieved</name>
        <label>Is Goal Achieved?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Goal_Achieved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Goal Achieved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Goal_Achieved_Email</targetReference>
            </connector>
            <label>Goal Achieved?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CO2_Saved</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Goal_CO2__c}-{!$Record.Total_CO2_Used__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Project_Status_Update_and_Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project_Status_Update_and_Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Goal_Achieved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Total_CO2_Used__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Goal_CO2__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CO2_Saved__c</field>
            <value>
                <elementReference>CO2_Saved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Goal Achieved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Total_CO2_Used__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
